<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Katterli Grace</title>

        <link rel="stylesheet" href="./app.css">
        <link href="https://fonts.googleapis.com/css?family=Athiti|Pattaya" rel="stylesheet">
    </head>
    <body>
        <div id="navbar">
            <ul class="nav-items">
                <li><a href="/">Home</a></li>
                <li><a href="#">Posts</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </div>
