<%- include('partials/header'); %>

        <div class="row">
            <div class="top col-md-12">
                <h1 id="kat">Katterli Grace</h1>
            </div>
        </div>

        <div class="row">
            <div class="bottom col-md-12">
                <div class="about">
                    <h2 id="subheading">My Crazy Life</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <p>Bacon ipsum dolor amet picanha flank venison pork, buffalo pancetta leberkas. Andouille shankle porchetta pastrami ball tip burgdoggen strip steak chicken boudin pancetta beef ribs filet mignon short ribs meatball tongue. Andouille chicken sirloin meatloaf shankle, jowl bresaola buffalo sausage landjaeger. Bacon strip steak drumstick, pork chop pork short ribs doner porchetta boudin jerky. Kielbasa pork chop t-bone spare ribs sausage, buffalo biltong brisket ham ball tip strip steak ribeye kevin picanha capicola. Hamburger ham pig landjaeger doner, shoulder filet mignon andouille drumstick porchetta fatback spare ribs pork chop alcatra.</p>
                </div>
            </div>
        </div>

<%- include('partials/footer'); %>
