body {
    height:900px;
    font-family: 'Pattaya', sans-serif;
    text-align: center;
}

#navbar {
    background-color: #D6D3F0;
}

.nav-items {
    padding-left: 0px;
    margin: auto;
    width: 300px;
    font-family: 'Pattaya', sans-serif;
    font-size: 1.5em;
}

li {
    display: inline;
    padding: 10px;
}

#navbar a {
    color: black;
}


#kat {
    font-family: 'Pattaya', sans-serif;
    color: #0B3142;
    font-size: 10em;
    margin: auto;
    text-align: center;
    height: inherit;
    display:flex;
    align-items: center;
    justify-content: center;
}

#kat:hover {
    color: #9C92A3;
}

#subheading {
    font-family: 'Pattaya', sans-serif;
    font-size: 3em;
    color: #D6D3F0;
    text-align: center;
    margin-bottom: 16px;
}

p {
    font-family: 'Playfair Display', serif;
    font-style: oblique;
    font-size: 1.2em;
    color: #D6D3F0;
    text-align: center;
}

.about {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;


}

.row {
    margin: 0
}

.top {
    background-color: #D6D3F0;
    height: 450px;

}

.bottom {
    background-color: #0B3142;
    height: 450px;
}

.post {
    background-color: inherit;
    width: 65%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}

#post-header {
    font-family: 'Pattaya', sans-serif;
    color: #0B3142;
    text-align: center;
    padding-top: 32px;
}

#post-body {
    font-family: 'Playfair Display', serif;
    font-style: oblique;
    font-size: 1.2em;
    color: #0B3142;
    text-align: center;
}

#post-header-2 {
    font-family: 'Pattaya', sans-serif;
    color: #D6D3F0;
    text-align: center;
    padding-top: 32px;
}

#post-body-2 {
    font-family: 'Playfair Display', serif;
    font-style: oblique;
    font-size: 1.2em;
    color: #D6D3F0;
    text-align: center;
}
